<div data-theme="a" data-role="header">
  <h1>Listing messages</h1>
</div>

<ul>
<% @messages.each do |message| %>
  <li>
    <%= link_to message.created_at, card_message_path(params[:card_id].to_i, message.id) %>
  </li>
<% end %>

<br />

<%= link_to 'New Message', new_card_message_path(params[:card_id].to_i) %>
