.ui-page.ui-body-a.ui-page-active{"data-role" => "page", "data-theme" => "a", :tapindex => "0"}
  %div{"data-position" => "inline"}
    .ui-header.ui-bar-a{"data-role" => "header", "data-theme" => "a"}
      %h2.ui-title{"aria-level" => "1"} We Made you a card
  .ui-content{"data-role" => "content", :role => "main"}
    %ul.ui-listview{"data-divider-theme" => "a", "data-inset" => "false", "data-role" => "listview"}
      %li.ui-li.ui-btn.ui-btn-icon-right.ui-li-has-arrow.ui-btn-up-a{"data-corners" => "false", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-iconshadow" => "true", "data-shadow" => "false", "data-theme" => "a", "data-wrapperels" => "div"}
        .ui-btn-inner
          .ui-btn-text
            %a.ui-link-inherit{"data-transition" => "slide", :href => "/cards/new"} Create your own card
  %span.ui-icon.ui-icon-arrow.ui-icon-shadow


